
body {
  display: flex;
  background-color:  hsl(212, 45%, 89%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text {
  display: flex;
  flex-direction: column;
  color: hsl(220, 15%, 55%);
  
}

p {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  text-align: center;
 
}


.bold-text {
  font-weight: 700;
  color: black;
  
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:white;
  width: 25%;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}
.qrcode {
  width: 100%;
  border-radius: 10px;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
  text-decoration: none;
}
@media screen and (max-width: 750px) {

 .cart {
   width: 50%;
 }
  
}

@media screen and (max-width: 500px) {

  .cart {
    width: 70%;
  }
   
 }